/* Add your own styles */

header {

background-color: #E6A1D7;
height: 300px;
text-align: center;
margin: auto;
display: flexbox;
flex-direction: column;
padding-top: 20px;
}

img {

height: 200px;
width: 200px;
position: relative;
border-radius: 50%;

}

#lookup{

    border: none;
    background-color: #BF69C2; 
    color: black;

}

#butty{

    border: none;
    background-color: #E0CDEE;
    color: black;

}

#controls{

    margin: 10px;
}

table td, table th {
    border: 1px solid #61346B ;
}

td {
    text-align: center;
}


